# Compiled from other people's emacs.d gitignore files
*.elc
*~
.*.lock
.emacs.BAK
.emacs.bmk
.emacs.desktop*
.ido.last
.org-id-locations
.smex-items
ac-comphist.dat
backups/
cookies
el-get
elpa/archives/
emacs.bmk
image-dired/
org-clock-save.el
places
site-lisp/package/
tramp
