[submodule "vim/vim.symlink/ftbundle/ruby-sinatra"]
  path = vim/vim.symlink/ftbundle/ruby/ruby-sinatra
  url = git://github.com/hallison/vim-ruby-sinatra.git
[submodule "vim/vim.symlink/bundle/latex"]
  path = vim/vim.symlink/ftbundle/latex/latex
  url = git://github.com/jcf/vim-latex.git
[submodule "vim/vim.symlink/bundle/javascript"]
  path = vim/vim.symlink/ftbundle/javascript/javascript
  url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/jade"]
  path = vim/vim.symlink/ftbundle/jade/jade
  url = git://github.com/statianzo/vim-jade.git
[submodule "vim/vim.symlink/ftbundle/nginx/nginx"]
	path = vendor/ftbundle/nginx/nginx
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "vim/vim.symlink/bundle/html5"]
	path = vim/ft/bundle/html/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/vim.symlink/bundle/PickAColor"]
	path = vim/vim.symlink/bundle/PickAColor
	url = git://github.com/vim-scripts/PickAColor.vim.git
[submodule "vim/vim.symlink/bundle/eunuch"]
	path = vim/vim.symlink/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
