**/*~
**/.*
*.zwc
*.zwc.old
\#*#
/bin/mate
/misc/config.symlink/configstore
/misc/config.symlink/gh
/misc/config.symlink/gh-update
/misc/config.symlink/hub
/misc/config.symlink/massren
/priv
/zsh

/clojure/lein.symlink/*
!/clojure/lein.symlink/dev
!/clojure/lein.symlink/profiles.clj

/haskell/cabal.symlink/*
!/haskell/cabal.symlink/config
