**/*~
**/.*
\#*#
*.zsh.zwc
/bin/mate
/haskell/cabal.symlink/*
!/haskell/cabal.symlink/config
/shell/private.sh
/vim/.netrwhist
/vim/view/
/vim/vim.symlink/bundle
/vim/vim.symlink/spell/en.utf-8.add.spl
/zsh/private.zsh
