snippet uuid "b77672a4-fa87-417c-bfd4-ecccb617a3f2" !i
`!p import uuid
if not snip.c:
  snip.rv = str(uuid.uuid4())`
endsnippet

snippet ts "2014-01-24T11:08:30Z" !i
`!p import datetime
if not snip.c:
  snip.rv = datetime.datetime.now().strftime('%Y-%m-%dT%H:%M:%SZ')`
endsnippet
