snippet bs
#!/bin/sh

set -e

say() {
  echo "\033[34m=>\033[0m $*"
}

check() {
  type $1 >/dev/null 2>&1 || missing $2
}

missing() {
  echo >&2 "Missing $1"; exit 1;
}

success() {
  echo
  echo "\033[32m=>\033[0m You're all setup!"
}

say "Checking for require software..."
check "changeme" "CHANGEME"

success
endsnippet
